	@charset "utf-8";
	
	body{
		margin:0 0 0 0;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		}
	a{
		text-decoration:none;
		color:#999;
		}
		
	.erro{
		background: #fbe6f2;
		border: 1px solid #d893a1;
		width:920px;
		margin:10px auto;
		margin-bottom:25px;
		font-size:13px;
		}	
	#topo{
		height:35px;
		background:#464646;
		font-size:11px;
		margin-bottom:25px;
		}
	.info{
		background: #ffffe0;
		border: 1px solid #e6db55;
		width:920px;
		margin:10px auto;
		margin-bottom:25px;
		font-size:13px;
		}
	#meio{
		width:920px;
		margin:auto;
		}
	.logo{
		float:left;
		width:700px;
		height:25px;
		border: 0px solid #FFF;
		}
	/*.logo ul{
		list-style:none;
		margin: 12px 0 0 0;
		padding: 0 0 0 0;
		}
	.logo ul li{
		float:left;
		padding: 0 20px 0 0px;
		}*/
	.user{
		float:right;
		height:30px;
		color:#FFF;
		padding:5px 0 0 0;
		border: 0px solid #FFF;
		}
		
	.box-modulo{
		border: 0px solid #333; 
		margin-top: 15px;
		float: left;
	}	
	
	.titulo-modulo{
		
		background: #F1F2F3;
		float: left;
		min-height: 35px;
	}	
	
	.lista-modulos{
		
		float: left;
	}	
	
	.modulo{
		float: left;
		min-height: 25px;
		margin: 5px 0 5px 0;
		border-bottom: 1px dotted #CCC;
	}
	
	.nome-modulo{width: 335px;border: 0px solid #333;float: left;}
	.delete-modulo{float:right;border: 0px solid #333;margin-top: 3px;}
	.width350{width: 350px; }
	.width550{width:550px;}
		
		/* MIOLO */
		
	#miolo{
		min-height:540px;
		margin:auto;
		width:920px;
		border:0px solid #333;
	}
	
	#titulo{
		height:35px;
		background:#efefef;
		font-size:16px;
		color:#333333;
		padding: 5px 0 0 5px;
		}
	.img-titulo{
		width:24px;
		height:24px;
		float:left;
		padding: 2px 0 0 0;	
		}
	.titulo-combo{
		width:400px;
		float:left;
		padding:6px 0 0 10px;
		}
	.buscar{
		float:right;
		width:330px;
		padding:0px 0px 0 0 ;
		}
		
	.buscar a:HOVER{
		color: #333;
		}
	.input-style{
		border:1px solid #b5b5b5;
		height:20px;
		padding:4px 0 0 3px;
		}	
	.select-style{
		border:1px solid #e5e5e5;
		height:20px;
		}
	.btn-buscar{
		height:25px;
		border:1px solid #333;
		background:#464646;
		cursor:pointer;
		color:#FFFFFF;
		font-size:12px;
		font-weight:bold;
		}
	.btn-buscar:hover{
	background:#626262;
		}
		
	.lista-pedido{
		margin-bottom:20px;
		}
	.dados{
		font-size:12px;
	}
	.dados a:hover{
		color:#000000;
	}
	
	
	
/* add produto */

.form-usuario{
	height: 20px; border: 1px solid #ccc;font-size: 14px;padding: 4px 0 0 5px;
	}
.form-btn{
	height:35px;
	border:1px solid #333;
	background:#464646;
	cursor:pointer;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	}

.select-st{
	border:1px solid #e5e5e5;
	height: 25px;
	width: 205px;
	font-size: 14px;
	}
.btn-excluir-img{
	background: url("../images/icons/delete.png") no-repeat;
	width: 12px;
	height: 12px;
	border: 0;
	cursor: pointer;
	}
	
.input-file{
	height:25px;
	border:1px solid #e5e5e5;
	font-size: 14px;
	width: 150px;
	}
	
#upload {
	border : 1px solid #333;
	background:#464646;
	cursor:pointer;
	color:#FFFFFF;
	height: 20px;
	font-size:11px;
	text-align: center;
}

#upload:hover{
	background:#626262;
	}
	
/* VALIDACAO */

.cmxform fieldset p.error label { color: red; }
div.erro ol li {
	list-style-type: circle;
	margin-left: 0px;
}
div.erro{ display: none }
.erro label.error {
	display: inline;
	font-family:arial;
	font-size: 12px;
}
form.cmxform { width: 30em; }

form.cmxform label.error {
	display: block;
	margin-left: 1em;
	width: auto;
}

/* menu */

#jsddm{	
	margin: 5px 0 0 0;
	padding: 0
	}

	#jsddm li{	
		float: left;
		list-style: none;
		font: 12px Tahoma, Arial
	}

	#jsddm li a{	
		display: block;
		background: #464646;
		padding: 5px 10px;
		text-decoration: none;
		border-right: 0px solid white;
		width: 70px;
		color: #FFF;
		white-space: nowrap
	}
	#jsddm li span{	
		display: block;
		background: #464646;
		padding: 5px 10px;
		text-decoration: none;
		border-right: 0px solid white;
		width: 70px;
		color: #FFF;
		white-space: nowrap
	}

	#jsddm li a:hover{	
		color: #CCC;
		
	}
	#jsddm li span:hover{	
		color: #CCC;
		
	}
	
	#jsddm li ul{	
		margin: 0;
		padding: 0;
		position: absolute;
		visibility: hidden;
		border-top: 0px solid white
	}
	
		#jsddm li ul li
		{	float: none;
			display: inline}
		
		#jsddm li ul li a
		{	width: auto;
			background: #464646;
			color: #FFF}
			
		#jsddm li ul li span
		{	width: auto;
			background: #464646;
			color: #FFF}
		
		#jsddm li ul li a:hover{
			background: #CCC;
			color: #333;
		}
		#jsddm li ul li span:hover{
			background: #CCC;
			color: #333;
		}
		
/* Relatorios */
	
.box-relatorio{
	border: 1px solid #333;
	min-height: 120px; 
	width: 295px; 
	float: left;
	margin-bottom: 12px;
	}
	
.box-margin{
	margin-left: 12px
	}
	
.titulo-combo-relatorio{
	height: 30px;
	background: #464646;
	width: 290px;
	color:#FFF;
	font: 13px Tahoma, Arial ; 
	padding: 10px 0 0 5px;
	}
	
.text-combo-relatorio{
	width: 280px;
	margin:auto;
	margin-top:20px;
	color: #333px;
	font: 12px Tahoma, Arial ; 
	}
.rodape-combo-relatorio{
	width: 280px;
	text-align: right;
	margin:30px 0 0 0;
	font: 12px Tahoma, Arial ; 
	}
.rodape-combo-relatorio a:hover{
	color: #333;
	}

	
.rover:hover {
	background: #F2f3f4;
	}
