/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #373739;
}

#area-login {
	width: 750px;
	height: 500px;	
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-375px;
	margin-top:-250px;
}

.style12conteudo {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
}

.tdLabel{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align : right;
}

.errorMessage{
	font-family: ARIAL;
	color: #FFA100;
	font-size: 12px;
}

.btnSubmit{
	background: url('../images/login/bt_acessar.png') no-repeat; 
	width:68px; 
	height:23px; 
	border:0px;
	cursor:pointer;
}

.inp150{
	width:150px;
}